@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100vh;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p {
  text-wrap: pretty;
  line-height: 1.8;
}

* {
  margin: 0;
  padding: 0;
}